/* Futura Heavy */

@font-face {
    font-family: Futura-Heavy;
    src: url('../fonts/Futura Heavy.ttf'),
        url('../fonts/Futura Std Heavy.ttf') format('truetype');
}

@font-face {
    font-family: Courgette;
    src: url('../fonts/Courgette-Regular.ttf') format("truetype");
}