@import "var.css";
@import "font.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.flex-space-beetween {
    justify-content: space-between;
}

.top-content {
    font-family: 'Poppins', sans-serif;
}

.btn-red {
    background: rgb(243, 37, 39);
    background: linear-gradient(310deg, rgba(243, 37, 39, 1) 0%, rgba(245, 71, 72, 1) 35%, rgba(247, 110, 111, 1) 100%);
}

.highlight {
    font-family: 'Courgette', cursive;
    color: #F54748;
    font-weight: 500;
}

.btn-arrow {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: .9rem;
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

.btn-left {
    margin-right: 7.5px;
}

.btn-right {
    margin-left: 7.5px;
}

.btn-up {
    margin-bottom: 7.5px;
}

.btn-down {
    margin-top: 7.5px
}

/* Header */
header {
    padding: 20px 0;
}

.logo {
    font-family: Futura-Heavy;
    font-size: 1rem;
    color: #F54748;
}

nav {
    flex-basis: 70%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    font-size: .93rem;
    color: rgba(245, 71, 72, 37%);
    font-weight: 600;
    cursor: pointer;
}

nav a i {
    margin-left: 5px;
    margin-top: 2px;
    font-size: .8rem;
}

nav a.active,
nav a:hover {
    color: #F9473B;
    font-weight: 700;
}

.btn-login {
    padding: 8px 30px;
    border-radius: 32px;

    color: white;
    font-size: 1rem;
    margin-left: 50px;
    /* box-shadow: 0px 10px 30px 0px rgba(247, 96, 97, 20%); */
}

.btn-login:hover {
    color: white;
    box-shadow: 0px 8px 15px 0px rgba(247, 96, 97, 30%);
}

/* Home */
.text {
    margin-top: 150px;
    flex-basis: 50%;
}

#home .top-content {
    background-color: #FCCFCF;
    display: inline-block;
    position: relative;
    padding: 10px 65px 10px 20px;
    border-radius: 30px;
}

#home .top-content p {
    font-size: 1rem;
    color: #504343;
    font-weight: bold;
    display: inline-block;
}

#home .top-content img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: 15px;
}

.main-content {
    margin: 20px 0;
}

.title {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 48px;
    color: #504343;
}

#home .highlight {
    display: block;
    position: relative;
    padding-bottom: 10px;
}

#home .highlight .border-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-content p {
    color: rgba(141, 141, 141, 70%);
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
    word-spacing: .95px;
    margin-top: 15px;
    line-height: 1.5;
    font-weight: lighter;
}

.bottom-content {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.bottom-content .btn-order {
    padding: 8px 20px;
    border-radius: 32px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.bottom-content .btn-red:hover,
.btn-arrow:hover {
    color: white;
    box-shadow: 0px 8px 15px 0px rgba(247, 96, 97, 30%);
}

.bottom-content .btn-play {
    margin-left: 15px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: .8rem;
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 35px;
}

.bottom-content .btn-play i {
    margin-left: 2px;
}

.bottom-content p {
    color: #504343;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 10px;
}

.image {
    margin-top: 30px;
    flex-basis: 50%;
    text-align: center;
}

.image img {
    width: 460px;
    height: 650px;
}

#home .image {
    position: relative;
}

#home .image .box {
    box-shadow: 1px 1px 40px rgba(80, 67, 67, 13%);
    width: fit-content;
    padding: 5px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    background-color: white;
}

#home .image .box1 {
    position: absolute;
    bottom: 8%;
    left: -8%;
    padding-left: 15px;
}

#home .image .box2 {
    position: absolute;
    bottom: 52%;
    right: 3%;
    padding-right: 15px;
}

#home .image .box p {
    color: #F54748;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    font-weight: bold;
}

#home .vector {
    position: absolute;
}

#home img.vector1 {
    width: 90px;
    height: 90px;
    left: 15%;
}

#home img.vector2 {
    width: 85px;
    height: 87px;
    bottom: 19%;
    left: -5%;
}

#home img.vector3 {
    width: 108px;
    height: 105px;
    right: 5%;
    top: 18%;
}

#home .image .box .fas {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

#home .image .box1 .fas {
    margin-left: 10px;
}

#home .image .box2 .fas {
    margin-right: 10px;
}

/* ingredients */
#ingredients {
    display: flex;
    padding: 100px 0;
}

#ingredients .image {
    margin: 0;
}

#ingredients .image img {
    width: 750px;
    height: 720px;
}

#ingredients .text {
    margin: 0;
    padding: 100px 80px 100px 0;
}

#testimonials .top-content p,
#baker .top p,
#best-seller .top-content p,
#ingredients .top-content p {
    color: #F54748;
    font-family: 'Poppins', sans-serif;
    font-size: .96rem;
    font-weight: bold;
}

#ingredients .main-content .title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: -20px 0 -5px;
}

#ingredients .highlight {
    text-transform: capitalize;
}

#ingredients .main-content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 35px;
    line-height: 1.6;
}

.btn-order-now,
.btn-read-more {
    padding: 8px 20px;
    border-radius: 32px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

/* Section Best Seller */
#best-seller {
    padding: 15px 0 50px;
}

#best-seller .container {
    flex-direction: column;
}

#best-seller .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#best-seller .main-content {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.circle {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    padding: 20px;
    border: 2px solid rgba(247, 110, 111, 0.1);
    cursor: pointer;
    /* box-shadow: inset 1px 1px rgba(247, 110, 111, 0.1); */
}

.circle:hover {
    box-shadow: 0px 18px 30px rgba(252, 116, 112, 0.1);
}

.circle .image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.circle .image img {
    display: inline-block;
    width: 45%;
    height: max-content;
}

.circle .star {
    margin-top: 20px;
    margin-bottom: 10px;
}

.circle .price,
.circle .name {
    color: #F54748;
    font-family: 'Merriweather', serif;

}

.circle .name {
    font-size: 1.5rem;
    font-weight: 800;
}

.circle .price {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

#best-seller .bottom-content {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

/* Baker */
#baker {
    padding-bottom: 50px;
    background: rgb(255, 207, 202);
    background: linear-gradient(180deg, rgba(255, 207, 202, 0.11) 0%, rgba(255, 207, 202, 0.18) 35%, rgba(255, 207, 202, 0.22) 75%, rgba(255, 207, 202, 0.22) 100%);
}

#baker .bottom label,
#baker .top h3,
#baker .top-content .title {
    color: #504343;
    font-family: 'Poppins', sans-serif;
}

#baker .text {
    margin-top: 100px;
}

#baker .main-content {
    display: flex;
}

#baker .main-content .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

#baker .top p {
    text-transform: uppercase;
}

#baker .top h3 {
    font-size: 1.8rem;
}

#baker .bottom {
    margin-top: 15px;
}

#baker .bottom label {
    font-size: 1.3rem;
    font-weight: 500;
}

#baker .image img {
    width: 420px;
    height: 530px;
}

#offer {
    padding: 100px 0;
}

#offer .bg-offer {
    background-image: url("../images/bg.png");
    background-position: 50% 70%;
    display: flex;
    border-radius: 200px;
    width: 100%;
    padding: 50px 150px 50px 180px;
    flex-direction: row;
}

#offer .text {
    flex-basis: 50%;
    margin-top: 0;
    background-color: transparent;
}

#offer .text h1 {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    line-height: 1.3;
    color: white;
    font-weight: bold;
}

#offer .text .highlight {
    color: #FFF59F;
}

#offer .image {
    flex-basis: 50%;
    text-align: right;
}

#offer .image img {
    width: 275px;
    height: 225px;
}

#testimonials {
    padding: 25px 0 100px;
}

#testimonials .container {
    flex-direction: column;
}

#testimonials .top-content {
    text-align: center;
}

#testimonials .top-content .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

#testimonials .top-content p {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
}

#testimonials .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 150px;
}

.testimonial {
    flex-basis: 30%;
    margin-right: 30px;
}

.testimonial:nth-child(2) {
    margin-top: -65px;
}

.testimonial:nth-child(4) {
    margin-left: 200px;
    margin-top: -50px;
}

.testimonial:nth-child(5) {
    margin-left: -100px;
}

.testimonial .card {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 30px rgba(80, 67, 67, .13);
    transition: all .3s;
}


.testimonial:hover .card {
    background: rgb(243, 37, 39);
    background: linear-gradient(310deg, rgba(243, 37, 39, 1) 0%, rgba(245, 71, 72, 1) 35%, rgba(247, 110, 111, 1) 100%);
    box-shadow: none;
}

.testimonial:hover .card .title,
.testimonial:hover .card .desc {
    color: #fff;
}

.testimonial .card .title {
    color: #F54748;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.testimonial .card .desc {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(80, 67, 67, .42);
}

.testimonial .people {
    display: flex;
    margin: 20px 0;
}

.testimonial .people .image {
    margin: 0;
    padding: 0;
    flex-basis: 20%;
    text-align: left;
}

.testimonial .people .image img {
    width: 50px;
    height: 50px;
}

.testimonial .people .text {
    margin: 0;
    text-align: left;
}

.testimonial .people .text .name {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.testimonial .people .text .job {
    color: rgba(51, 51, 51, .5);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

/* Service */
#service {
    background: rgb(255, 207, 202);
    background: linear-gradient(180deg, rgba(255, 207, 202, 0.11) 0%, rgba(255, 207, 202, 0.18) 35%, rgba(255, 207, 202, 0.22) 75%, rgba(255, 207, 202, 0.22) 100%);
    padding: 50px 0;
}

#service .left,
#service .right {
    flex-basis: 50%;
    text-align: center;
    padding: 0 50px;
}

#service .image {
    width: 100%;
    text-align: center;
}

#service .image img {
    width: 135px;
    height: 125px;
}

#service .title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

#service .desc {
    font-family: 'Poppins', sans-serif;
    font-size: 1.35rem;
    line-height: 1.5;
    font-weight: 200;
    color: rgba(80, 67, 67, .42);
}

/* footer */
footer {
    background-color: #F54748;
}

footer .container {
    flex-direction: column;
}

.footer {
    padding: 35px 0;
    display: flex;
}

.footer .logo {
    margin-right: 110px;
}

.footer .about {
    margin-top: 27px;
    margin-right: 120px;
}

.footer .contacts {
    margin-top: 27px;
}

.footer .socials {
    margin-top: 27px;
}

.footer .title {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .contact label,
.footer nav a {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    margin: 7.5px 0;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.footer .contact {
    display: flex;
    align-items: center;
}

.footer .contact label {
    flex-basis: 30%;
}

.footer .contact span {
    flex-basis: 50%;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.footer .contact:last-child {
    margin-top: 5px;
    align-items: flex-start;
}

.footer .contact:last-child label {
    align-self: flex-start;
    margin: 0;
}

.footer .contact:last-child span {
    line-height: 1.5;
    margin: -3px;
}

.social a {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin-right: 20px;
}

.copyright {
    text-align: center;
    padding: 10px 0;
}

.copyright p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}